<h1>Category</h1>

<%= @category.name %><br>

<%= link_to 'Back', categories_path %><br>
<%= link_to 'Edit', edit_category_path %><br>
<%= link_to 'Delete', category_path, method: :delete, data: { confirm: 'Are you sure?' } %><br>

<%= link_to 'Link to Posts', category_posts_path(@category.id) %><br>